In [6]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter('ignore')

In [7]:
csv1='data_testing/test1/yellow_tripdata_sample_2019-01.csv'
df1=pd.read_csv(csv1)
df1.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-15 03:36:12,2019-01-15 03:42:19,1,1.0,1,N,230,48,1,6.5,0.5,0.5,1.95,0.0,0.3,9.75,NaN
1,1,2019-01-25 18:20:32,2019-01-25 18:26:55,1,0.8,1,N,112,112,1,6.0,1.0,0.5,1.55,0.0,0.3,9.35,0.0
2,1,2019-01-05 06:47:31,2019-01-05 06:52:19,1,1.1,1,N,107,4,2,6.0,0.0,0.5,0.00,0.0,0.3,6.80,NaN
3,1,2019-01-09 15:08:02,2019-01-09 15:20:17,1,2.5,1,N,143,158,1,11.0,0.0,0.5,3.00,0.0,0.3,14.80,NaN
4,1,2019-01-25 18:49:51,2019-01-25 18:56:44,1,0.8,1,N,246,90,1,6.5,1.0,0.5,1.65,0.0,0.3,9.95,0.0

In [8]:
csv2='data_testing/test1/yellow_tripdata_sample_2019-02.csv'
df2=pd.read_csv(csv2)
df2.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-02-07 15:48:06,2019-02-07 16:00:40,2,1.30,1,N,234,211,1,9.0,2.5,0.5,2.46,0.0,0.3,14.76,2.5
1,2,2019-02-11 15:19:56,2019-02-11 15:40:10,1,2.37,1,N,161,249,1,14.0,0.0,0.5,3.46,0.0,0.3,20.76,2.5
2,2,2019-02-15 20:03:53,2019-02-15 20:08:34,1,0.48,1,N,237,161,1,5.0,0.5,0.5,1.50,0.0,0.3,10.30,2.5
3,2,2019-02-03 15:16:04,2019-02-03 15:21:49,1,0.64,1,N,100,48,1,5.5,0.0,0.5,1.76,0.0,0.3,10.56,2.5
4,2,2019-02-15 09:23:09,2019-02-15 09:42:51,6,2.56,1,N,114,230,1,13.5,0.0,0.5,3.36,0.0,0.3,20.16,2.5

In [34]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
vendor_id,10000.0,1.640500,0.530931,1.0,1.00,2.00,2.00,4.00
passenger_count,10000.0,1.357700,1.268508,0.0,1.00,1.00,1.00,6.00
trip_distance,10000.0,2.849045,3.715503,0.0,0.95,1.60,2.85,37.52
rate_code_id,10000.0,1.055200,0.380483,1.0,1.00,1.00,1.00,5.00
pickup_location_id,10000.0,164.302100,65.442123,1.0,125.00,162.00,233.00,265.00
dropoff_location_id,10000.0,162.206800,70.001480,1.0,113.00,162.00,234.00,265.00
payment_type,10000.0,1.264300,0.465475,1.0,1.00,1.00,2.00,4.00
fare_amount,10000.0,12.620080,11.319538,-21.0,6.50,9.00,14.00,215.00
extra,10000.0,1.147850,1.264644,-1.0,0.00,0.50,2.50,7.00
mta_tax,10000.0,0.495450,0.054814,-0.5,0.50,0.50,0.50,0.50
tip_amount,10000.0,2.194802,2.596820,0.0,0.00,1.95,2.94,46.70
tolls_amount,10000.0,0.379362,5.215088,0.0,0.00,0.00,0.00,500.05
improvement_surcharge,10000.0,0.298980,0.023980,-0.3,0.30,0.30,0.30,0.30
total_amount,10000.0,18.492670,14.865431,-24.3,11.15,14.30,19.56,537.85
congestion_surcharge,10000.0,2.179750,0.841508,-2.5,2.50,2.50,2.50,2.50

In [21]:
from pandas_profiling import ProfileReport
ProfileReport(df1, title="Pandas Profilling Report for df1").to_notebook_iframe()

ImportError: cannot import name 'DataError' from 'pandas.core.base' (/Users/yakupdemir/anaconda3/lib/python3.11/site-packages/pandas/core/base.py)

In [30]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
vendor_id,10000.0,1.643800,0.535677,1.00,1.00,2.00,2.000,4.00
passenger_count,10000.0,1.571600,1.198590,1.00,1.00,1.00,2.000,6.00
trip_distance,10000.0,2.758991,3.638474,0.00,0.90,1.53,2.790,57.95
rate_code_id,10000.0,1.062300,1.047153,1.00,1.00,1.00,1.000,99.00
pickup_location_id,10000.0,166.528600,66.476591,1.00,132.00,162.00,234.000,265.00
dropoff_location_id,10000.0,163.522500,70.029039,1.00,113.00,162.00,234.000,265.00
payment_type,10000.0,1.293000,0.471565,1.00,1.00,1.00,2.000,4.00
fare_amount,10000.0,12.485031,32.571797,-52.00,6.00,9.00,13.500,3004.00
extra,10000.0,0.325509,0.587839,-36.71,0.00,0.00,0.500,4.50
mta_tax,10000.0,0.501101,0.372205,-0.50,0.50,0.50,0.500,37.51
tip_amount,10000.0,1.813903,2.390367,0.00,0.00,1.40,2.340,75.00
tolls_amount,10000.0,0.293242,1.416085,0.00,0.00,0.00,0.000,24.02
improvement_surcharge,10000.0,0.299490,0.016696,-0.30,0.30,0.30,0.300,0.30
total_amount,10000.0,15.724231,33.485968,-52.80,8.16,11.27,16.325,3004.80
congestion_surcharge,3673.0,0.000000,0.000000,0.00,0.00,0.00,0.000,0.00

In [16]:
ProfileReport(df2, title="pANDAS Profilling Report for df2").to_notebook_iframe()

NameError: name 'ProfileReport' is not defined

In [26]:
from tdda.constraints import discover_df, verify_df
constraints= discover_df(df1)
constraints_path="data_testing/test1/example_constraints.tdda"
with open(constraints_path, 'w') as f:
    f.write(constraints.to_json())
    
# show generated constraints 
print(str(constraints))

FIELDS:

Field vendor_id:
           type: TypeConstraint(value='int')
            min: MinConstraint(value=1, precision=None)
            max: MaxConstraint(value=4, precision=None)
           sign: SignConstraint(value='positive')
      max_nulls: MaxNullsConstraint(value=0)

Field pickup_datetime:
           type: TypeConstraint(value='string')
     min_length: MinLengthConstraint(value=19)
     max_length: MaxLengthConstraint(value=19)
      max_nulls: MaxNullsConstraint(value=0)

Field dropoff_datetime:
           type: TypeConstraint(value='string')
     min_length: MinLengthConstraint(value=19)
     max_length: MaxLengthConstraint(value=19)
      max_nulls: MaxNullsConstraint(value=0)

Field passenger_count:
           type: TypeConstraint(value='int')
            min: MinConstraint(value=1, precision=None)
            max: MaxConstraint(value=6, precision=None)
           sign: SignConstraint(value='positive')
      max_nulls: MaxNullsConstraint(value=0)

Field trip_distance:
           type: TypeConstraint(value='real')
            min: MinConstraint(value=0.0, precision=None)
            max: MaxConstraint(value=57.95, precision=None)
           sign: SignConstraint(value='non-negative')
      max_nulls: MaxNullsConstraint(value=0)

Field rate_code_id:
           type: TypeConstraint(value='int')
            min: MinConstraint(value=1, precision=None)
            max: MaxConstraint(value=99, precision=None)
           sign: SignConstraint(value='positive')
      max_nulls: MaxNullsConstraint(value=0)

Field store_and_fwd_flag:
           type: TypeConstraint(value='string')
     min_length: MinLengthConstraint(value=1)
     max_length: MaxLengthConstraint(value=1)
      max_nulls: MaxNullsConstraint(value=0)
  allowed_values: AllowedValuesConstraint(value=['N', 'Y'])

Field pickup_location_id:
           type: TypeConstraint(value='int')
            min: MinConstraint(value=1, precision=None)
            max: MaxConstraint(value=265, precision=None)
           sign: SignConstraint(value='positive')
      max_nulls: MaxNullsConstraint(value=0)

Field dropoff_location_id:
           type: TypeConstraint(value='int')
            min: MinConstraint(value=1, precision=None)
            max: MaxConstraint(value=265, precision=None)
           sign: SignConstraint(value='positive')
      max_nulls: MaxNullsConstraint(value=0)

Field payment_type:
           type: TypeConstraint(value='int')
            min: MinConstraint(value=1, precision=None)
            max: MaxConstraint(value=4, precision=None)
           sign: SignConstraint(value='positive')
      max_nulls: MaxNullsConstraint(value=0)

Field fare_amount:
           type: TypeConstraint(value='real')
            min: MinConstraint(value=-52.0, precision=None)
            max: MaxConstraint(value=3004.0, precision=None)
      max_nulls: MaxNullsConstraint(value=0)

Field extra:
           type: TypeConstraint(value='real')
            min: MinConstraint(value=-36.71, precision=None)
            max: MaxConstraint(value=4.5, precision=None)
      max_nulls: MaxNullsConstraint(value=0)

Field mta_tax:
           type: TypeConstraint(value='real')
            min: MinConstraint(value=-0.5, precision=None)
            max: MaxConstraint(value=37.51, precision=None)
      max_nulls: MaxNullsConstraint(value=0)

Field tip_amount:
           type: TypeConstraint(value='real')
            min: MinConstraint(value=0.0, precision=None)
            max: MaxConstraint(value=75.0, precision=None)
           sign: SignConstraint(value='non-negative')
      max_nulls: MaxNullsConstraint(value=0)

Field tolls_amount:
           type: TypeConstraint(value='real')
            min: MinConstraint(value=0.0, precision=None)
            max: MaxConstraint(value=24.02, precision=None)
           sign: SignConstraint(value='non-negative')
      max_nulls: MaxNullsConstraint(value=0)

Field improvement_surcharge:
           type: TypeConstraint(value='real')
            min: MinConstraint(value=-0.3, precision=None)
            max: MaxConstraint(value=0.3, precision=None)
      max_nulls: MaxNullsConstraint(value=0)

Field total_amount:
           type: TypeConstraint(value='real')
            min: MinConstraint(value=-52.8, precision=None)
            max: MaxConstraint(value=3004.8, precision=None)
      max_nulls: MaxNullsConstraint(value=0)

Field congestion_surcharge:
           type: TypeConstraint(value='real')
            min: MinConstraint(value=0.0, precision=None)
            max: MaxConstraint(value=0.0, precision=None)
           sign: SignConstraint(value='zero')

In [33]:
# verify that january data matches the constraints - should be 

v1= verify_df(df1, constraints_path, type_checking='strict', epsilon=0)
print(str(v1))

FIELDS:

vendor_id: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

pickup_datetime: 0 failures  4 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓

dropoff_datetime: 0 failures  4 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓

passenger_count: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

trip_distance: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

rate_code_id: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

store_and_fwd_flag: 0 failures  5 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓  allowed_values ✓

pickup_location_id: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

dropoff_location_id: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

payment_type: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

fare_amount: 0 failures  4 passes  type ✓  min ✓  max ✓  max_nulls ✓

extra: 0 failures  4 passes  type ✓  min ✓  max ✓  max_nulls ✓

mta_tax: 0 failures  4 passes  type ✓  min ✓  max ✓  max_nulls ✓

tip_amount: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

tolls_amount: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

improvement_surcharge: 0 failures  4 passes  type ✓  min ✓  max ✓  max_nulls ✓

total_amount: 0 failures  4 passes  type ✓  min ✓  max ✓  max_nulls ✓

congestion_surcharge: 0 failures  4 passes  type ✓  min ✓  max ✓  sign ✓

SUMMARY:

Constraints passing: 82
Constraints failing: 0

In [28]:
#verify faebruary data matches the constraints - should failed

v2= verify_df(df2, constraints_path, type_checking='strict', epsilon=0)
print(str(v2))

FIELDS:

vendor_id: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

pickup_datetime: 0 failures  4 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓

dropoff_datetime: 0 failures  4 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓

passenger_count: 2 failures  3 passes  type ✓  min ✗  max ✓  sign ✗  max_nulls ✓

trip_distance: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

rate_code_id: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

store_and_fwd_flag: 0 failures  5 passes  type ✓  min_length ✓  max_length ✓  max_nulls ✓  allowed_values ✓

pickup_location_id: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

dropoff_location_id: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

payment_type: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

fare_amount: 0 failures  4 passes  type ✓  min ✓  max ✓  max_nulls ✓

extra: 1 failure  3 passes  type ✓  min ✓  max ✗  max_nulls ✓

mta_tax: 0 failures  4 passes  type ✓  min ✓  max ✓  max_nulls ✓

tip_amount: 0 failures  5 passes  type ✓  min ✓  max ✓  sign ✓  max_nulls ✓

tolls_amount: 1 failure  4 passes  type ✓  min ✓  max ✗  sign ✓  max_nulls ✓

improvement_surcharge: 0 failures  4 passes  type ✓  min ✓  max ✓  max_nulls ✓

total_amount: 0 failures  4 passes  type ✓  min ✓  max ✓  max_nulls ✓

congestion_surcharge: 3 failures  1 pass  type ✓  min ✗  max ✗  sign ✗

SUMMARY:

Constraints passing: 75
Constraints failing: 7